/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


// General info
manifest {
    name    = "SCRNA-SEQ-NF: MAPPING, CLUSTERING & ANNOTATION"
    author  = "Michael Weinberger"
    version = "1.0"
}



// Profiles
profiles {

    // Executor profiles
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        params {
            docker_enabled    = true
            cellranger_module = "none"
            samtools_module   = "none"
            python_module     = "none"
            r_module          = "none"
        }        
    }

    HPC_docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            executor = "slurm"
            queue    = "short"
            time     = "12hours"
            memory   = "10 GB"
            cpus     = 1

            withName: "CELLRANGER_REF_PR|BLAST_FASTA_PR|CLUSTER_SCANPY_PR|CLUSTER_SCANPY_SOUPX_PR|CONVERT_SCANPY_SEURAT_PR|AMBIENT_RNA_SOUPX_PR" {
                queue    = "short"
                time     = "1days"
                memory   = "50 GB"
                cpus     = 10
            }
            withName: "CELLRANGER_AGGR_PR|SCINA_ANNOTATION_PR|SCINA_SCANPY_INTEGRATION_PR|SCINA_ANNOTATION_INTEGRATION_PR|CLUSTER_SEURAT_PR|CLUSTER_SEURAT_SOUPX_PR" {
                queue    = "short"
                time     = "1days"
                memory   = "150 GB"
                cpus     = 20
            }
            withName: "CELLRANGER_COUNT_PR|CELLRANGER_MULTI_PR" {
                queue    = "long"
                time     = "3days"
                memory   = "250 GB"
                cpus     = 40
            }
	}
        params {
            docker_enabled    = true
            cellranger_module = "none"
            samtools_module   = "none"
            python_module     = "none"
            r_module          = "none"
        } 
    }

    HPC_no_docker {
        docker.enabled = false
        process {
            executor = "slurm"
            queue    = "short"
            time     = "12hours"
            memory   = "10 GB"
            cpus     = 1

            withName: "CELLRANGER_REF_PR|BLAST_FASTA_PR|CLUSTER_SCANPY_PR|CLUSTER_SCANPY_SOUPX_PR|CONVERT_SCANPY_SEURAT_PR|AMBIENT_RNA_SOUPX_PR" {
                queue    = "short"
                time     = "1days"
                memory   = "50 GB"
                cpus     = 10
            }
            withName: "CELLRANGER_AGGR_PR|SCINA_ANNOTATION_PR|SCINA_SCANPY_INTEGRATION_PR|SCINA_ANNOTATION_INTEGRATION_PR|CLUSTER_SEURAT_PR|CLUSTER_SEURAT_SOUPX_PR" {
                queue    = "short"
                time     = "1days"
                memory   = "150 GB"
                cpus     = 20
            }
            withName: "CELLRANGER_COUNT_PR|CELLRANGER_MULTI_PR" {
                queue    = "long"
                time     = "3days"
                memory   = "250 GB"
                cpus     = 40
            }
        }
        params {
            docker_enabled    = false
            cellranger_module = "cellranger/9.0.0"
            samtools_module   = "samtools/1.17"
            blast_module      = "blast/2.11.0"
            python_module     = "python-cbrg"
            r_module          = "R-cbrg"
        }
    }

    // Genome profiles
    human {
        params {
            species               = "human"
            species_latin         = "homo_sapiens"
            genome                = "GRCh38"					// ensembl genome name
            genome_ucsc           = "hg38"					// UCSC genome name
            ensembl_version       = "115"					// ensembl genome browser release to use for downloads
            biomart_dataset       = "hsapiens_gene_ensembl"			// used for gene symbol conversion between species
            biomart_genome        = "BSgenome.Hsapiens.UCSC.hg38"		// used for gene symbol conversion between species
            uniprot_id            = "UP000005640"                    		// Uniprot proteome species ID
            ncbi_id               = "9606"                           		// additional accession number in Uniprot file names
            chrom_number          = 22 						// X,Y chromosomes excluded
            cellcycle_genes_csv   = "${projectDir}/cellcycle_genes_human.csv"	// genes for cell cycle scoring
            cell_type_markers_csv = "${projectDir}/markers_human.csv"		// input marker genes for SCINA automated cell type annotation
        }
    }

    mouse {
        params {
            species               = "mouse"
            species_latin         = "mus_musculus"
            genome                = "GRCm39"
            genome_ucsc           = "mm39"
            ensembl_version       = "115"
            biomart_dataset       = "mmusculus_gene_ensembl"
            biomart_genome        = "BSgenome.Mmusculus.UCSC.mm39"
            uniprot_id            = "UP000000589"
            ncbi_id               = "10090"
            chrom_number          = 19
            cellcycle_genes_csv   = "${projectDir}/cellcycle_genes_mouse.csv"
            cell_type_markers_csv = "${projectDir}/markers_mouse.csv"
        }
    }

    zebrafish {
        params {
            species               = "zebrafish"
            species_latin         = "danio_rerio"
            genome                = "GRCz11"
            genome_ucsc           = "danRer11"
            ensembl_version       = "115"
            biomart_dataset       = "drerio_gene_ensembl"
            biomart_genome        = "BSgenome.Drerio.UCSC.danRer11"
            uniprot_id            = "UP000000437"
            ncbi_id               = "7955"
            chrom_number          = 25
            cellcycle_genes_csv   = "${projectDir}/cellcycle_genes_zebrafish.csv"
            cell_type_markers_csv = "${projectDir}/markers_zebrafish.csv"
        }
    }
}

// DAG configuration
dag.enabled   = true
dag.overwrite = true
dag.file      = "flowchart.png"

// Report configuration
report.enabled = true

// Timeline configuration
timeline.enabled = true

// Trace configuration
trace.enabled = true



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Pipeline parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    manifest = manifest

    // generic options
    project = "nf_scRNAseq_analysis"			// Project name
    outdir  = "/ceph/project/nf_scRNAseq_analysis"   	// Project output directory



    // For Cell Ranger alignment, set either input_count or input_multi
    /*
	For Cell Ranger Count alignment:
        Supply path to a "<sample_sheet_name>.txt" (tab-delimited) file containing sample information.
	File must contain a header, the first column must be
	"sample_id" (the sample-specific prefixes of the fastq files, 
                    if samples have been re-sequenced, supply all prefixes as a comma-separated list),
         and the second column must be
	"fastq_dir" (the directory containing the fastq files specified by "sample_id", 
                    if samples have been re-sequenced and are stored in multiple directories, supply all directories as a comma-separated list).
	Further metadata columns can be added: e.g. "sample_name", "tissue", "condition" etc.
    */
    input_count = "${projectDir}/Example_file_cellranger_count_input.txt"

    /*
	For Cell Ranger Multi alignment:
        Supply path to a "<sample_sheet_name>.txt" (tab-delimited) file containing sample information.
	File must contain a header, the first column must be
	"parent_id" (the sample-specific prefixes of the fastq files,
                    IMPORTANT: use identical parent IDs to name gene expression and multiplex capture (CMO) fastq files originating from the same sample -> add suffix "GEX" to gene expression parent ID/fastq file name, add suffix "CMO" to multiplex capture parent ID/fastq file name,
                               include only GEX parent IDs (not CMO parent IDs) in the sample sheet
                    if samples have been re-sequenced, supply all prefixes as a comma-separated list),
        the second column must be
	"fastq_dir" (the directory containing GEX and CMO fastq files specified by "parent_id", 
                    if samples have been re-sequenced and are stored in multiple directories, supply all directories as a comma-separated list),
        the third column must be
        "sample_id" (the names of the de-multiplexed samples contained in the fastq files,
                     put one per line and duplicate "parent_id" and "fastq_dir" column entries as necessary),
        and the fourth column must be
        "cmo_id" (the CMO tags corresponding to de-multiplexed sample entries).
	Further metadata columns can be added: e.g. "sample_name", "tissue", "condition" etc.
    */
    input_multi = ""



    /*
	If Cell Ranger alignment has been run previously: 
                       - cellranger_out_dir: Supply path to a Cell Ranger output directory containing filtered "barcodes.tsv.gz", "features.tsv.gz" and "matrix.mtx.gz" 
                       		(normally path/to/outs/count/filtered_feature_bc_matrix).
                         ALTERNATIVELY, this directory can contain '.h5' files with Cell Ranger mapped data.
                       - metadata: Supply file path to a tab-delimited text file containing a "barcode" column of cell barcodes, 
                       		a "sample_id" column of sample identifiers, and optional metadata columns.
                         WHEN SUPPLYING '.h5' DIRECTORY, the metadata file does not need to contain a "barcode" column.
                       	 The "sample_id" column will be used during doublet detection.
		       - mapping_mode: The mode that Cell Ranger was run in to generate the mapped data ("cell ranger count" or "cell ranger multi")
                       - cellranger_info_tsv (Optional): If you would like to run SoupX to correct ambient RNA contamination, supply path to a 
                         	tab-delimited text file with columns "sample_id", containing sample IDs for Cell Ranger Count or 
                         	non de-multiplexed parent IDs for Cell Ranger Multi, and "cellranger_dir", containing paths to Cell Ranger
				output directories (containing the "outs/" directory)
        This will prompt the pipeline to skip cellranger alignment. 
    */
    cellranger_out_dir = ""
    metadata = ""
    mapping_mode = "cell ranger count"
    cellranger_info_tsv = ""



    // Set Cellranger chemistry
    chem = "auto"



    // scRNA-seq doublet removal + clustering
    clustering_mode = "scanpy" 		// Clustering analysis mode, one of: "scanpy" or "seurat"
    drop_ribo_prot  = "Yes"		// Should ribosomal protein genes be excluded from highly variable genes before clustering? Values: "Yes" or "No"
    genes_drop_csv  = ""		// Optional: Filepath of a csv file containing genes to be dropped from highly variable genes before clustering
    min_genes       = 200		// Minimum number of genes expressed in each cell
    max_genes       = 8000		// Maximum number of genes expressed in each cell
    max_perc_mt     = 10		// Maximum percentage of mitochondrial reads in each cell
    min_cells       = 3			// Minimum number of cells for each gene to be expressed in
    n_pcs           = 50		// Number of principal components to compute
    harmony_var     = "sample_id"	// Name of metadata column used for Harmony data integration
    leiden_res      = 3			// Leiden clustering resolution
    run_soupx       = "Yes"		// Should ambient RNA contamination be corrected? Values: "Yes" or "No"



    // scRNA-seq adding human gene symbols
    human_biomart_dataset = "hsapiens_gene_ensembl"
    human_biomart_genome  = "BSgenome.Hsapiens.UCSC.hg38"



    // scRNA-seq automated cell type annotation
    // Filepath to a csv file containing cell type metadata for ordering and colors, with columns: cell_type, ID, and color
    cell_type_metadata_csv = "${projectDir}/cell_type_metadata.csv"
}

